@require '../../../config.styl'

.root
  background-color rgba(color-primary, .02)
  border-left rem(4px) solid rgba(color-primary, .1)

  padding text-spacing

  margin-left -(text-spacing)
  margin-right -(text-spacing)