@require '../../config.styl'

.root
  display inline-block
  font-family font-family-primary
  text-align left

.details, .day
  vertical-align baseline

.day
  color color-primary

  display inline-block
  text-transform uppercase
  font-size 2.8rem

  letter-spacing rem(-4.5px)
  margin-right rem(6px)

.details
  display inline-block
  font-size rem(18px)
  color lighten(color-primary, 33%)

  position relative
  top 1px

.rest
  letter-spacing rem(-1.5px)
  font-size rem(14px)

.weekday
  color color-secondary-dark
  display block
  text-transform: uppercase

