@require '../../config.styl'

.root
  margin-bottom text-spacing
  border-bottom 1px solid lighten(color-primary, 90%)

  &:last-child
    border-bottom 0

.header
  margin-bottom text-spacing
  text-align center

  display flex
  justify-content center
  align-items center


  h2
    display inline-block
    margin 0

    font-size rem(14px)
    text-transform uppercase
    color color-secondary-dark
    text-align left

.date
  display inline-block
  margin-right text-spacing
  flex-grow 0
  flex-shrink 0

.content
  font-family font-family-text
  font-size rem(14px)

  em, i
    font-style italic

  strong, b
    font-weight font-weight-bold

  a[href]
    position relative

    color color-secondary
    text-decoration none

    transition color 0.3s

    &:hover
      color color-secondary-dark

    &::after
      position absolute
      top 100%
      left 0
      right 0
      transform translateY(10px)
      height rem(1px)

      content ''
      opacity 0
      background-color color-secondary-dark

      transition all 0.3s

    &:hover::after
      opacity 1
      transform translateY(0px)


  ul
    margin-top 0
    padding-left 2*text-spacing

    margin-bottom text-spacing
    list-style circle

    ul
      margin-bottom 0


  code, pre
    background-color lighten(color-primary, 95%)
    color color-secondary-dark
    font-family font-family-code

  code
    padding 0 rem(3px)
    display inline-block

  pre
    padding (text-spacing/2) text-spacing
    margin-bottom text-spacing