@require '../../config.styl'
@require '../../styles/links.styl'

.root
  margin-bottom text-spacing
  border-bottom 1px solid lighten(color-primary, 90%)

  &:last-child
    border-bottom 0

.header
  margin-bottom text-spacing
  text-align center

  display flex
  justify-content center
  align-items center


  h2
    display inline-block
    margin 0

    font-size rem(14px)
    text-transform uppercase
    color color-secondary-dark
    text-align left

.date
  display inline-block
  margin-right text-spacing
  flex-grow 0
  flex-shrink 0

.content
  font-family font-family-text
  font-size rem(14px)

  em, i
    font-style italic

  strong, b
    font-weight font-weight-bold

  a[href]
    @extends $link


  ul, ol
    margin-top 0
    padding-left 2*text-spacing

    margin-bottom text-spacing
    list-style circle

    ul, ol
      margin-bottom 0
      list-style disc

  ol
    list-style decimal

    ol
      list-style lower-latin

  hr
    margin 0 (2*text-spacing) text-spacing
    border 0
    background-color lighten(color-primary, 95%)
    height rem(2px)

  code, pre
    background-color lighten(color-primary, 95%)
    color color-secondary-dark
    font-family font-family-code

  code
    padding 0 rem(3px)
    display inline-block

  pre
    padding (text-spacing/2) text-spacing
    margin-bottom text-spacing

  h1, h2, h3, h4, h5, h6
    margin-bottom text-spacing

  h1, h2, h3
    font-weight font-weight-bold

  h1
    font-size 2rem

  h2
    font-size 1.6rem

  h3
    font-size 1.4rem

  h4
    font-size 1.2rem
    font-style italic

  h4
    font-size 1rem
    font-style italic
    color color-secondary-dark

  blockquote
    margin-left 2*text-spacing
    margin-bottom text-spacing
    padding text-spacing
    padding-bottom 0
    background-color lighten(color-secondary, 98%)
    border-left rem(4px) solid rgba(color-secondary, 0.3)

    &::after
      display table
      content ''
      clear both