@require '../../config.styl'

.root
  margin-bottom text-spacing
  border-bottom 1px solid lighten(color-primary, 90%)

.header
  margin-bottom text-spacing
  text-align center

  display flex
  justify-content center
  align-items center


  h2
    display inline-block
    margin 0

    font-size rem(14px)
    text-transform uppercase
    color color-secondary-dark

.date
  display inline-block
  margin-right text-spacing