@require '../../config.styl'

.overlay
  fullscreen()
  z-index z-modal
  background-color makewhite(0.9)

  display flex
  align-items center
  justify-content center

.modal
  display block
  width 80vw
  max-width container-width
  height 90vh
  position: relative

  padding base-unit 1.5*base-unit

  background-color color-page-background
  border 1px solid lighten(color-primary, 95%)

.close
  position: absolute
  top base-unit
  right 1.5*base-unit

  font-size rem(40px)
  line-height rem(40px)
  font-weight bold
  color rgba(color-primary, 0.8)

  cursor: pointer

  transform: scale(1)
  transition color 0.3s, transform 0.3s ease-out

  &:hover
    color color-primary
    transform: scale(1.2)

.title
  font-size rem(2*font-base)
  line-height rem(40px)
  text-transform uppercase