@require '../../../config.styl'

button-border-width = 2px
button-border-raduis = 1.5 * rem(base-unit)
button-background = linear-gradient(to bottom right, color-secondary 0%, color-secondary-dark 100%)

$button
  display inline-block
  padding rem(button-border-width)
  margin-bottom text-spacing

  background-clip padding-box
  border: 0
  border-radius button-border-raduis
  background-image button-background
  box-shadow: 0 rem(2px) rem(1px) 0 makeblack(0.08)

  color color-primary
  font-size rem(14px)
  cursor: pointer

  transition: color .2s ease-out

  &:hover .inner
    box-shadow: 0 0 0 0 makewhite(1)

  & .inner
    display block

    color inherit
    font-size inherit
    background-color color-page-background
    line-height 1

    padding rem(.7 * base-unit) rem(base-unit)
    box-shadow: 0 0 0 rem(1px) makewhite(1)
    border-radius button-border-raduis
    background-clip padding-box
    transition: box-shadow 0.2s ease-out

  &:focus
    outline 0

$button-secondary
  @extends $button
  background-image none
  background-color rgba(color-primary, 0.05)

$button-success
  @extends $button
  background-image linear-gradient(to bottom right, $color-success-secondary 0%, $color-success-primary 100%)

  color $color-success-secondary

  &:hover
    color $color-success-primary

$button-warning
  @extends $button
  background-image linear-gradient(to bottom right, $color-warning-secondary 0%, $color-warning-primary 100%)

  color $color-warning-secondary

  &:hover
    color $color-warning-primary


$button-small
  @extends $button
  font-size rem(12px)

  & > span
    padding rem(.45 * base-unit) rem(.6 * base-unit) rem(.35 * base-unit)


.buttonPrimary
  @extends $button

.buttonSecondary
  @extends $button-secondary

.buttonSuccess
  @extends $button-success

.buttonWarning
  @extends $button-warning

.buttonSmall
  & .inner
    font-size rem(12px)
    padding rem(.45 * base-unit) rem(.6 * base-unit) rem(.35 * base-unit)