node_modules
.idea
*.log
coverage.html
typings
imports/**/*.js
imports/**/*.js.map
server/**/*.js.map
server/**/*.js
client/*.js
client/*.js.map
!client/meteor.startup.js
!imports/packages/**/*.js
settings/*.json
packages/**/*
build
.deploy/**/settings.json