node_modules
.idea
*.log
coverage.html
config.ini
typings
app/server/**/*.js
app/server/**/*.js.map
app/client/*.js
app/client/*.js.map
app/settings/*.json
app/public/bundle.css
app/packages/**/*

source/**/*.js
source/**/*.js.map

build
.deploy/**/settings.json