node_modules
.idea
*.log
coverage.html
typings
imports/**/*.js
imports/**/*.js.map
server/**/*.js.map
server/**/*.js
client/index.js
client/index.js.map
settings/*.json
public/bundle.css
packages/**/*
build
.deploy/**/settings.json