@require '../../config.styl'

.dot
  display inline-block
  width 0.2em
  height 0.2em
  margin-right 0.05em

  background linear-gradient(to bottom right, color-secondary 0%, color-secondary-dark 100%)
  overflow hidden
  text-indent -999px
  
.logoLarge, .logoSmall
  font-size rem(50px)
  font-weight bold
  color color-page-background
