// colors
color-page-background = #fff

color-primary = #434A54

color-secondary = #FA7445
color-secondary-dark = #C1173F

color-danger = color-secondary

$color-success-primary = #8CC152
$color-success-secondary = #A0D468
$color-success = $color-success-primary

$color-warning-primary = #F6BB42
$color-warning-secondary = #FFCE54
$color-warning = $color-warning-primary

// font
font-base = 16px
line-height-base = base-unit
font-weight-base = 300
font-family-primary = 'Open Sans', sans-serif
font-family-text = 'Merriweather', serif
font-family-logo = 'Kaushan Script'
font-family-code = monospace

// vertical rythm
base-unit = 1.4 * font-base
line-height-text = rem(base-unit)
line-height-computed = rem(base-unit)
text-spacing = line-height-text

font-weight-normal = 300
font-weight-bolder = 400
font-weight-bold = 500
// measurements
header-height = rem(72px)
header-spacing = rem(base-unit)
sidebar-width = rem(400px)
container-width = rem(1200px)

font-size-base = 1rem
font-size-small = (14/16)rem
font-size-smaller = (12/16)rem
font-size-large = (18/16)rem

z-modal=1000

rem(size, base = font-base)
  (size/base)rem

em(size, base = font-base)
  (size /base)em

negative(value)
  -1*value

makeblack($opactiy = 1)
  rgba(0,0,0, $opactiy)

makewhite($opactiy = 1)
  rgba(255,255,255, $opactiy)

// @mixins
fullscreen()
  position fixed
  top 0
  bottom 0
  left 0
  right 0