// colors
color-page-background = #fff

color-primary = #434A54

color-secondary = #FA7445
color-secondary-dark = #C1173F



// font
font-base = 16px
line-height-base = base-unit
font-weight-base = 300
font-family-primary = 'Open Sans', sans-serif
font-family-text = 'Merriweather', serif
font-family-logo = 'Kaushan Script'
font-family-code = monospace

// vertical rythm
base-unit = 1.4 * font-base
line-height-text = rem(base-unit)
text-spacing = line-height-text

font-weight-normal = 300
font-weight-bolder = 400
font-weight-bold = 500
// measurements
header-height = rem(72px)
header-spacing = rem(base-unit)
sidebar-width = rem(400px)

rem(size, base = font-base)
  (size/base)rem

em(size, base = font-base)
  (size /base)em

makeblack($opactiy = 1)
  rgba(0,0,0, $opactiy)

makewhite($opactiy = 1)
  rgba(255,255,255, $opactiy)

// @mixins
fullscreen()
  position fixed
  top 0
  bottom 0
  left 0
  right 0