@import './config.styl'
@import './reset.styl'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext')

:global
  html
    background-color color-page-background
    color color-primary

    font-size font-base
    line-height line-height-base
    font-family font-family-primary