@require './config.styl'
@require './reset.styl'
@require './typography.styl'
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext')
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')

:global
  *, *::after, *::before
    box-sizing border-box

  html
    background-color color-page-background
    color color-primary

    font-size font-base
    font-weight font-weight-base
    line-height line-height-base
    font-family font-family-primary